

body {
    background-color:rgb(250, 249, 248)
}
h1{
    border:green 3px solid;
}
.header {
    background-color:#900060;

display:flex;
   justify-content:space-between;
   border:yellow 4px solid;
}
.grid {
    background-color:#808080;
    display:flex;
   justify-content:space-evenly;
   flex-wrap: wrap;
   border:yellow 4px solid;
}
.footer {
    background-color:rgb(54, 93, 209);
    display:flex;
   justify-content:flex-end;
   border:yellow 4px solid;
}
.description {

    background-color:teal;
}
.menu{
    background-color:#0040ab;
    border:green 3px solid;
    margin:30px ;
    padding:30px;
}
.menu a{
    margin-left: 20px;
}

